@model myMvcApp.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Registration Result";
}

<h1>Registration Result</h1>

<dl class="row">
    <dt class="col-sm-3">Mã sinh viên</dt>
    <dd class="col-sm-9">@Model.MaSinhVien</dd>

    <dt class="col-sm-3">Tên sinh viên</dt>
    <dd class="col-sm-9">@Model.TenSinhVien</dd>

    <dt class="col-sm-3">Điểm trung bình</dt>
    <dd class="col-sm-9">@Model.DiemTrungBinh</dd>

    <dt class="col-sm-3">Chuyên ngành</dt>
    <dd class="col-sm-9">@Model.ChuyenNganh</dd>
</dl>

<a class="btn btn-secondary" asp-action="Register">Register another student</a>